<h2 mat-dialog-title>Agregar Nuevo Cliente</h2>
<mat-dialog-content>
  <form [formGroup]="nuevoClienteForm">
    <!-- Campo Nombre -->
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre">
    </mat-form-field>

    <!-- Campo Apellido -->
    <mat-form-field>
      <mat-label>Apellido</mat-label>
      <input matInput formControlName="apellido">
    </mat-form-field>

    <!-- Campo Teléfono -->
    <mat-form-field>
      <mat-label>Teléfono</mat-label>
      <input matInput formControlName="telefono">
    </mat-form-field>

    <!-- Campo Email -->
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="correo_electronico">
    </mat-form-field>

    <!-- Campo Dirección -->
    <mat-form-field>
      <mat-label>Dirección</mat-label>
      <input matInput formControlName="direccion">
    </mat-form-field>

    <!-- Campo RUT -->
    <mat-form-field>
      <mat-label>RUT</mat-label>
      <input matInput formControlName="rut">
    </mat-form-field>

    <!-- Campo Comuna -->
    <mat-form-field>
      <mat-label>Comuna</mat-label>
      <input matInput formControlName="comuna">
    </mat-form-field>

    <!-- Agrega otros campos según sea necesario -->

  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-button (click)="onSubmit()" [disabled]="nuevoClienteForm.invalid">Agregar</button>
</mat-dialog-actions>
