<!-- productos.component.html -->
<div class="productos-container">
    <h2>Productos</h2>
    <button (click)="nuevoProducto()">Añadir Producto</button>
    <button routerLink="/administracion" class="volver-button">Volver al Panel de Administración</button>
    <table class="mat-elevation-z8">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Precio</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of productos">
          <td>{{ producto.nombre }}</td>
          <td>{{ producto.descripcion }}</td>
          <td>{{ producto.precio | currency }}</td>
          <td>
            <button (click)="editarProducto(producto)">Editar</button>
            <button (click)="eliminarProducto(producto.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  