/* Estilos específicos para el componente ProductosComponent */


.productos-container {
  background: linear-gradient(to bottom, #137b9b 10%,#0c2a5d 90%, );
  padding: 20px;
  border-radius: 8px;
}

.titulo {
  font-size: 24px;
  margin-top: 2rem;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff; /* Color del texto (blanco en este caso) */
  font-family: 'Lora', serif;
  text-shadow: 2px 2px #000; /* Desplazamiento x, desplazamiento y, radio y color del borde */
}



.acciones {
  margin-bottom: 20px;
  display: flex;  // Hace que los botones estén en línea


  .volver-icon {
    margin-right: 5px;
    font-size: 1rem;
    vertical-align: middle;
  }
  .agregar-icon {
    margin-right: 5px;
    font-size: 1rem;


  }

  .btn {
    display: flex;
    align-items: center;
    color: white;
    padding: 10px 12px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: baseline;


    &-accion {
      background-color:  #18960a;
      margin-right: 5px;  // Añade un margen derecho entre los botones

      &:hover {
        background-color: #127c07;
      }
    }

    &-volver {
      background-color: #0085c2;


      &:hover {
        background-color: #0b5e85;
      }
    }
  }
}



.items{
  background-color: #f2f2f2;
}

.tabla-productos {
  width: 100%;
  border-collapse: collapse;
  background-color: #f2f2f2;

  th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
  }

  th {
    background-color: #f2f2f2;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .acciones-celda {
    .btn {
      &-editar {
        background-color: #317588;
        color: white;
        border-radius: 5px;
        padding: 10px 15px;
        cursor: pointer;
        &:hover {
          background-color: #105061;
        }
      }

      &-eliminar {
        background-color: #ff453e;
        color: white;
        margin-left: 10px;
        border-radius: 5px;
        padding: 10px 15px;
        cursor: pointer;
        &:hover {
          background-color: #da190b;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .titulo {
    font-size: 2rem; /* Tamaño de fuente más pequeño para pantallas pequeñas */
  }

  .acciones .btn {
    font-size: 14px; /* Tamaño de fuente más pequeño para botones */
    padding: 8px 10px; /* Padding más pequeño para botones */
  }

  .tabla-productos th, .tabla-productos td {
    padding: 6px; /* Padding más pequeño para celdas de tabla */
  }

  .tabla-productos {
    width: 100%;
    border-collapse: collapse;
  }
}
