<div class="admin-panel">
    <h1 class="admin-heading">Panel de Administración</h1>
    <div class="nav-container">
        <mat-nav-list class="admin-nav-list">
            <a mat-list-item routerLink="/clientes" class="nav-item">Clientes</a>
            <a mat-list-item routerLink="/productos" class="nav-item">Productos</a>
            <a mat-list-item routerLink="/navegacion" class="nav-item">Dashboard Principal</a>
        </mat-nav-list>
    </div>
    <footer class="admin-footer">
        <img src="assets/icon/imagen-force-mental.png" alt="ForceMental Logo" class="footer-logo">
    </footer>
</div>
