.cliente-edit-dialog {
    .mat-dialog-content {
      padding: 20px;
    }
  
    .mat-form-field {
      width: 100%;
      margin-bottom: 10px;
    }
  
    .mat-dialog-actions {
      display: flex;
      justify-content: flex-end;
      padding: 10px 20px;
  
      button {
        margin-left: 10px;
      }
    }
  }
  