<div class="body">
  <div class="panel_sesion">
    <div class="titulos">
      <h1 class="titulo">Cuenta de Ingreso</h1>
      <p class="subtitulo">Iniciar sesión en tu cuenta</p>
    </div>
    <form action="#">
      <div class="form-group">
        <input type="text" class="ingresar_usuario" placeholder="Nombre de usuario">
      </div>
      <div class="form-group">
        <input type="password" class="ingresar_usuario" placeholder="Contraseña">
      </div>
      <div class="form-group checkbox-group">
        <input id="form-checkbox" type="checkbox">
        <label for="form-checkbox">Recuérdame</label>
      </div>
      <button class="boton_ingresar" [routerLink]="['/navegacion']" type="submit">Iniciar Sesión</button>
    </form>
    <div class="restablecer_contraseña">
      <a [routerLink]="['/restore-password']" class="olvidar_contraseña">Restablecer Contraseña</a>
    </div>
  </div>
</div>