<div class="body">
    <div class="content">
        <div class="content-panel">
            <div class="titulos">
                <h1 class="titulo">Has olvidado tu contraseña</h1>
                <p class="subtitulo">Ingresa tu dirección de correo electrónico para recuperar tu contraseña.</p>
            </div>
            <form action="#">
                <div class="form-group">
                    <input type="email" class="ingresar_email" placeholder="Email">
                </div>
                <div class="form-group text-right">
                    <button class="boton_restablecer_contraseña" type="submit">Restablecer contraseña</button>
                </div>
            </form>
            <div>
                <a [routerLink]="['/login']" class="volver_login">Volver al inicio de sesión</a>
            </div>
        </div>
    </div>
</div>
