/* Estilos para centrar el contenido y hacerlo más llamativo */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta la altura al 100% del viewport */
    
}

.content-panel {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
}

/* Estilos para el botón de restablecer contraseña */
.boton_restablecer_contraseña {
    background-color: #ff0000;
    color: #ffffff;
    padding: 10px 20px;
    margin-top: 10px; /* Margen superior para separar del elemento anterior */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Estilos para el enlace "Volver al inicio de sesión" */
.volver_login {
    color: #0000ff;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px; /* Margen superior para separar del elemento anterior */
}
